@media screen and (max-width: 1280px) {
  .quote_pink__section {
    background-image: none;
  }

  .quote_pink__block {
    width: 100%;
  }

  .quote_pink__text, .quote_pink__author {
    padding-left: 80px;
    padding-right: 80px;

    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .indent {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .description__section {
    padding: 100px 15px;
  }

  .quote_pink__text, .quote_pink__author {
    padding-left: 15px;
    padding-right: 15px;
  }

  .reasons__wrapper {
    flex-direction: column;
  }

  .reasons__block {
    width: 100%;
    height: auto;

    margin-bottom: 30px;
  }

  .reasons__card__text {
    height: auto;

    margin-bottom: 15px;
  }

  .quote-of-the-day__section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .photos__wrapper {
    flex-direction: column;
  }

  .photos__block {
    width: 100%;
  }

  .footer__wrapper_top {
    flex-direction: column;
  }

  .footer__block {
    width: 100%;

    margin-bottom: 30px;
  }

  .footer__block__title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section__link a {
    width: 100%;
  }

  .section__link a div {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .main__quote p {
    font-size: 38px;
  }

  .quote-of-the-day__text p {
    font-size: 38px;
  }

  .photos__block.lg .photos__card {
    height: 250px;
  }

  .photos__block.sm .photos__card {
    width: 100%;
  }

  .footer__wrapper_bottom {
    flex-direction: column;
  }

  .footer__wrapper_bottom .block ul {
    margin-top: 15px;
  }

  .footer__wrapper_bottom .block ul li {
    margin-left: 15px;
    margin-right: 15px;
  }
}